@import "styles/head";

@keyframes cardIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.homeContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba($c-dark, 0.85);
  color: $c-light;
  transition: background $de;

  &.connected {
    background: $c-main;
  }

  &.muted {
    background: $c-warn;
  }

  .tint {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, $c-dark);
    pointer-events: none;
  }
}

.home {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.peerGrid {
  flex: 1;
  padding: $g-s;
}

.peer {
  background: $c-light;
  color: $c-dark;
  padding: $g-xs;
  font-weight: $b;
  text-align: center;
  border-radius: $r;
  animation: cardIn $de;
  margin-bottom: $g-xs;

  &:last-of-type {
    margin-bottom: unset;
  }
}

.messages {
  height: 200px;
  background: rgba($c-dark, 0.3);
  padding: 0 $g-s;

  form {
    display: flex;
    padding: $g-s 0;
    text-align: center;

    input {
      flex: 1;
      padding: $g-xs;
      margin-right: $g-s;
    }

    button {
      width: 100px;
      padding: $g-xs 0;
    }
  }
}

.messagesInner {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.messageList {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.messageItem {
  margin-top: $g-xxs;

  .bold {
    font-weight: $b;
  }
}

.messageItem a {
  border-bottom: solid 1px $c-light;
}

.actionbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $g-m 0;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  input {
    width: 180px;
    padding: $g-xs;
    text-align: center;
    margin-bottom: $g-xs;

    &:last-of-type {
      margin-bottom: $g-m;
    }
  }

  button {
    width: 120px;
    padding: $g-xs 0;
    margin-right: $g-s;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.songbar {
  position: fixed;
  top: $g-s;
  right: $g-s;
  width: 260px;
  padding: $g-xs;
  background: $c-light;
  color: $c-dark;
  border-radius: $r;
  text-align: left;
  animation: cardIn $de;
}

.songbarTitle {
  font-weight: $b;
  margin-bottom: $g-xs;

  .info {
    margin-left: $g-xs;
    opacity: 0.6;
    font-size: $h5;
  }
}

.songbarText {
  margin-right: $g-xxs;
}

@media only screen and (min-width: 1200px) {
  .peerGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
  }

  .peer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: unset;
    text-align: unset;
    margin-bottom: unset;
    margin-right: $g-l;

    &:last-of-type {
      margin-bottom: unset;
      margin-right: unset;
    }
  }

  .messages {
    height: 300px;
    padding: unset;
  }

  .messagesInner {
    width: 900px;
    margin: 0 auto;
  }

  .actionbar {
    display: flex;
    align-items: center;
    padding: $g-m 0;

    form {
      flex-direction: row;
    }

    input {
      margin-bottom: unset;
      margin-right: $g-s;

      &:last-of-type {
        margin-bottom: unset;
      }
    }
  }
}
